<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    {% extends "eschoolapp/base.html" %}

    {% block content %}
    <h1> Welcome to E school tube. </h1>

    <p>
        <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ad quos id laudantium commodi facere, est tempora nam, repellat ducimus minus earum blanditiis, possimus reiciendis enim corporis itaque fuga porro dolorum! Quos optio tempore molestias, doloremque minus magnam cupiditate, fugiat distinctio dolorum eaque voluptatem facere eum magni. Numquam vel adipisci voluptate nemo placeat ratione perferendis.
        </h3>
    </p>
    {% endblock content %}
  </body>
</html>
